node_modules
.env
.vscode
.DS_Store
.openzeppelin

# Hardhat files
/cache
/artifacts
/output

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


package-lock.json