node_modules
.env_*
.vscode
.DS_Store
.nvmrc

# Hardhat files
/cache
/artifacts
/output

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


package-lock.json